{% extends 'base.html' %}

{% block title %}Buscar reclamacoes| Deduraai{% endblock %}

{% block container %}

    <h2>Buscar reclamações</h2>

    <form method="get" action="." class="form-search well">
        <input class="search-query span6" type="text" name="q" value="{% if query %}{{ query }}{% endif %}">
        <input type="submit" value="Buscar" class="btn">
    </form>

    {% if query %}
        <h3>Results</h3>

        {% for result in page.object_list %}
            <p>
                <a href="{{ result.object.get_absolute_url }}">{{ result.object.nome }}</a>
            </p>
        {% empty %}
            <p>No results found.</p>
        {% endfor %}

        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
    {% else %}
        {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}

{% endblock %}
